 
body{
	overflow-x: hidden;
	font-family: 'Lato', sans-serif;
	color: #505962;
}
 .offset::before{
 	display: block;
 	content: '';
 	height: 4rem;
 	margin-top: -4rem;	


 }




 /*NAVIGATION*/
 ul li.active a,
  .navbar-dark .navbar-nav .nav-item .nav-link:hover
 {
 	background-color:#febd01;
	border-radius: 50%;

 }


  .navbar{

text-transform: uppercase;
font-weight: 700;
font-size: .9rem; /*1rem=16px;*/
letter-spacing: .1rem;
  }

 .navbar-brand img{
 	height: 2rem;
 }

.navbar-nav li{
	padding-right: .7rem;
}
.navbar-dark .navbar-nav .nav-link {
	color: white;
	padding-top: .8rem;
}
 
 
 
.caption{
	width: 100%;
	max-width: 100%; 
	z-index: 1;
	color: white;
	text-transform: uppercase;
}
 

/*Media Queries*/
@media (max-width:767px){

 .caption h1{
	font-weight: 2.3rem;
 
	letter-spacing: .15rem;
	 
	padding-bottom: .5rem;
}

.caption h3{
	font-size: 1.2rem;
 	padding-bottom: 1.2rem;
}
.btn-lng{
 	padding: .5rem 1rem;
	font-size: 1rem;
}
.narrow h1{
	font-size: 1.5rem;

}
.clients img{
	max-width: 50%;
	display: block;
	margin: 0 auto;
}
}

 
  
  /*About me*/
.about{
	padding: 80px 0px;
	background-color: #fff;
 	min-height: 100vh;
 	background-position: center;
	float: left;
	width: 100%;
	padding:0px; 
 	top: -80px;
}

.about .content{
	display: flex;
	-webkit-display: flex;
}
.about .content .box{
	flex: 0 0 33.33%;

	max-width: 33.33%;
	padding: 15px;}
	.about .content .box .inner {
	background-color: #222;
}



.about .content .box:nth-child(2) .inner {
	background-color: #c11325;

}



.about .content .box .inner .img img{
	width: 100%;

}

	.about .content .box .inner .text{
		padding: 30px;
	}

	.about .content .box .inner .text h4{
		font-size: 20px;
 		margin: 0;
		padding: 0 0 15px;
		color: #fff;
		font-weight: 500;
		text-transform: capitalize;
		text-align: center;

}
	.about .content .box .inner .text p{
 		text-align: center;
		font-size: 15px;
		line-height: 20px;
		color: #fff;
		margin: 0;	 
		font-family: 'Open Sans', sans-serif;
	}

/*Home section*/
.container{
	max-width: 1170px;
	margin: auto;
}
.home{
	 
	background-image: url(../images/home.jpg);
	background-color: #f5f8fd;
	min-height: 100vh;
 	background-size: cover;
	background-position: center;
	float: left;
	width: 100%;
	padding:0px; 
	background-color:white;
	top: -80px;
}
.home .container{
	display: flex;
	-webkit-display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.home .go-down{
	position: absolute;
	bottom: 50px;
	width: 26px;
	height: 40px;
	border: 1px solid #fff;
	display: block;
	border-radius: 4px;
	text-align: center;
	left: 50%;
	margin-left: -13px;
}
.home .go-down .fa{
	color: #fff;
	animation: goDown 1s ease infinite;
	-webkit-animation: goDown 1s ease infinite;

}
@-webkit-keyframes goDown{
	0%{transform: translateY(0);opacity: :.5;}
	100%{transform: translateY(10px);}
}

@keyframes goDown{
	0%{transform: translateY(0);opacity: :.5;}
	100%{transform: translateY(10px);}
}


 
.home h1{
color: #fff;
font-size:60px;
font-weight: 700;
text-transform: uppercase;
margin: 0;
}
 

.home h1 span{
color: #c11325;
 
}


/*SERVICES*/

 
}
.row{
	display: flex;
	flex-wrap: wrap;
}

 .section-title{
  flex: 0 0 100%;
 max-width: 100%;
 margin-bottom: 40px;

}

 .section-title h1{
	 font-size: 35px;
	 text-transform: uppercase;
     font-weight: 700px;
     color: #000;
	 display: inline-block;
	 position: relative;
	 margin: 0 0 10px;
	 padding-bottom: 0px;
 }
 .section-title h1::before{
content: "";
left: 0;
height: 2px;
background-color: #febd01;
bottom: 0px;
right: 30%;
margin: 0;
position: absolute;
 }
 .text-center{
 	text-align: center!important;
 }
 .text-left{
 	text-align: left!important;
 }

 .text-right{
 	text-align: right!important;
 }
/*Header section*/

  /*Services section*/
.service{
	padding: 80px 15px;
	background-color: #c11325;
	min-height: 100vh;   
	float: left;
	width: 100%;
	padding:0px; 	 
	top: -80px;

}
 

.service .content{
	-webkit-display:flex;
	display: flex;
}

.service .content .box{
	flex: 0 0 50%;
	max-width: 50%;
	padding: 15px;
}
.service .content .text h2{
	font-size: 30px;
	font-weight: 500;
	color: #fff;
	padding: 0 0 20px;
}
.service .content .text p{
	font-size: 15px;
	max-width: 90%;
	line-height: 20px;
	color: #fff;
	margin: 0 0 15px;
	padding: 0 0 20px;
	font-family: 'Open Sans', sans-serif;
}
.service .content .text .btn{
	padding: 8px 30px;
	background-color: #222;
	color:#fff;
	text-decoration: none;
display: inline-block;
border:1px solid transparent;
transition: all .5s ease;
cursor: pointer;
-webkit-transition: all .5s ease;
}
.service .content .text .btn:hover{
	border: 1px solid #fff;
	color: #fff;
	background-color: transparent;

}
.service .content .accordian-container {
	margin-bottom: 5px;
}

.service .content .accordian-container .head{
 
	background-color: rgba(0,0,0,0.2);
	position: relative;
	cursor: pointer;
	padding: 12px 15px;
}

.service .content .accordian-container .head .fa{
	position: absolute;
	right: 10px;
	color: #fff;
	top: 13px;
	height: 30px;
	text-align: center;
	width: 30px;
	line-height: 30px;
	border-radius: 50%;
	  	display: inline-block;
}
.service .content .accordian-container .head h4{
color: #fff;
font-size: 20px;
margin: 0;
padding: 0;
font-weight: 500;
text-transform: capitalize;
}
.service .content .accordian-container.active .head{ 
	background-color: #222;
}
.service .content .accordian-container .body{
	display: none;
padding: 15px;
border-top: 1px solid #333;
background-color: #222;
}

.service .content .accordian-container:nth-child(1) .body{
	display: block;

}
.service .content .accordian-container .body p{
		font-size: 15px;
	line-height: 20px;
	color: #fff;
	margin: 0 0 15px;
	padding: 0 ;
	font-family: 'Open Sans', sans-serif;

}

 
 
/*Classes Section*/
.classes{
	padding: 80px 0px 50px;
background-color: #fff;
 	min-height: 100vh;
 	background-size: cover;
	background-position: center;
	float: left;
	width: 100%;
	padding:0px; 
	background-color:white;
	top: -80px;
}
.classes .content{
	-webkit-display:flex;
	display: flex;
}
.classes .content .box{
	padding: 15px;
	flex: 0 0 50%;
	max-width: 50%;
}
.classes .content .img img{
	width: 100%;
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
}
.classes .content .text h2{
	font-size: 30px;
	font-weight: 500;


 }

.classes .content .text p{
	font-size: 15px;
	line-height: 20px;
	margin: 0
 	color: #222;
 	font-family: 'Open Sans', sans-serif;
	padding: 0 0 30px;
}


 .classes .content .class-items .item{
 	 
 	margin-bottom: 30px;
 	display: flex;
 }



  .classes .content .class-items .item:nth-child(1){
  	background-color: #222;
}
.classes .content .class-items .item:nth-child(2){
  	background-color: #c11325;
}
 .classes .content .class-items .item .item-text{
 	padding: 15px;
 	display: flex;
 	flex-direction: column;
 	justify-content: center;
  }



 .classes .content .class-items .item .item-text,
  .classes .content .class-items .item .item-img{
  	flex: 0 0 50%;
  	position: relative;
  	max-width: 50%;
   
  }

 .classes .content .class-items .item .item-img .price{
 	position: absolute;
 	height: 50px;
 	width: 60px;
 	font-size: 20px;
 	font-weight: 500;
 	color: #fff;
 	text-align: center;
 	line-height: 50px;
}

 .classes .content .class-items .item:nth-child(1) .item-img .price{
 	background-color:#c11325;
 	left: 0;
 	top: 0; 
}
 .classes .content .class-items .item:nth-child(2) .item-img .price{
 	background-color:#222;
 	right:0;
 	top: 0; 
}

 .classes .content .class-items .item .item-img img{
 	width: 100%;
 	display: block;
 }

 .classes .content .class-items .item .item-text h4{
 	font-size: 20px;
 	margin: 0;
 	padding: 0 0 15px;
 	font-weight: 500;
 	color: #fff;
 	text-transform: capitalize;
 	text-align: left;
 }
 .classes .content .class-items .item .item-text p{
 	font-size: 15px;
 	line-height: 20px;
 	margin: 0;
 	padding: 0 0 20px;
  	color: #fff;
  	text-align: left;
  	font-family: 'Open Sans',sans-serif;
 }
.classes .content .class-items .item .item-text a{
	font-size: 16px;
	text-decoration: none;
	display: inline-block;

}
.classes .content .class-items .item .item-text a{
color: #fff;
}

 

/*TEAM*/

 

*{
	box-sizing: border-box;
	text-decoration: none;
	outline: none;
}

.container{
	max-width: 1170px;
	margin:auto;
}
 

 /*Start Today Section*/
.start-today{
	background-color: #222;
 }
 .start-today .content{
 	-webkit-display:flex;
 	display: flex;
 	align-items: center; 
 }
.start-today .content .box{
	flex: 0 0 50%;
	max-width: 50%;
	padding: 0 15px;
}
.start-today .content .img img{
	width: 100%;
	display: block;
}
 .start-today .content .text h2{
 	font-size: 30px;
 	font-weight: 500;
 	color: #fff;
 	padding: 0 0 20px;
 }
.start-today .content .text p{
 	font-size: 15px;
 	line-height:20px;
 	color:#fff;
 	margin:0;
 	padding:0 0 20px;
font-family:'Open Sans', sans-serif;}

.start-today .content .text .btn{
	padding: 8px 30px;
	background-color: #c11325;
	color:#fff;
	text-decoration: none;
display: inline-block;
border:1px solid transparent;
transition: all .5s ease;
cursor: pointer;
-webkit-transition: all .5s ease;
}
.start-today .content .text .btn:hover{
	color: #fff;
	border-color: #fff;
	background-color: transparent;

}


/*Shedule*/
.schedule{
	 
		padding: 80px 15px;
	background-color: #c11325;
	min-height: 100vh;   
	float: left;
	width: 100%;
	padding:0px; 	 
	top: -80px;
}
.schedule .content{
	display: flex;
	-webkit-display: flex;
}
.schedule .content .box{
	flex: 0 0 50%;
	max-width: 50%;
	padding: 15px;
}
 




  .schedule .content .text h2{
 	font-size: 30px;
 	font-weight: 500;
 	color: #000;
 	padding: 0 0 20px;
 }
.schedule .content .text p{
 	font-size: 15px;
 	line-height:20px;
 	color:#222;
 	margin:0;
 	padding:0 0 20px;
font-family:'Open Sans', sans-serif;
}

.schedule .content .text img{
	width: 100%;
	transform: translateY(180deg);
}
.schedule .content .timing .table{
	width: 100%;
	border-collapse: collapse;

}
.schedule .content .timing .table td{
	border:1px solid #dfdfdf;
	padding: 8px;
	text-align: center;
	color: #222;
font-size: 15px;
}

 
.schedule .content .timing .table tr:nth-child(even) td.day{
	background-color: #222;
	 
}
.schedule .content .timing .table tr:nth-child(odd) td.day{
	background-color: #444444;
	 
}
.schedule .content .timing .table  tr:nth-child(1) td.day{
	background-color: #c11325;

}
.schedule .content .timing .table tr td.day{
	color: #fff;
	border-color: transparent;}

 /*Gallery*/
.gallery {	padding: 80px 15px;
	background-color: #c11325;
	min-height: 100vh;   
	float: left;
	width: 100%;
	padding:0px; 	 
	top: -80px;

}
.gallery .content{
	-webkit-display:flex;
	display: flex;
	flex-wrap: wrap;
}
.gallery .content .box{
	flex: 0 0 50%;
	max-width: 50%;
}
.gallery .content .box img{
	display: block;
	width: 100%;
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	transition: all .5s ease;
	-webkit-transition: all .5s ease;
}

.gallery .content .box img:hover{
		-webkit-filter: grayscale(0%);
		filter: grayscale(0%);
	 
}
.gallery h2{
	font-size: 30px;
	font-weight: 500;
	color: #000;
	text-align: center;
	padding: 0 0 20px;
}
/*Price*/
.price-package{
		padding: 80px 15px;
	background-color: #fff;
	min-height: 100vh;   
	float: left;
	width: 100%;
	padding:0px; 	 
	top: -80px;
}
.price-package h2{
	font-size: 30px;
	font-weight: 500;
	color: #000;
	padding: 0 0 20px;
	text-align: center;
}
.price-package .title-p{
	font-size: 15px;
	line-height: 20px;
	color: #222;
	text-align: center;
	margin: 0;
	padding: 0 20% 50px;
	font-family: 'Open Sans', sans-serif;
}
.price-package .content{
	display: flex;
	-webkit-display: flex;
}
.price-package .content .box{
	flex: 0 0 33.33%;
	max-width: 33.33%;
	padding: 15px;
}.price-package .content .box .inner {
	background-color: #f0f0f0;

}
.price-package .content .box .inner .price-tag{
	padding: 15px;
	font-size: 24px;
	background-color: #c11325;
	color: #fff;
	font-weight: 700;
	text-align: center;
}
.price-package .content .box .inner .text  {
	padding: 30px 15px;
	text-align: center;
}
.price-package .content .box .inner .text h3{
	font-size: 24px;
	color: #222;
	margin: 0;
	padding: 0 0 20px;
	font-weight: 700;

}
.price-package .content .box .inner .text p{
	text-align: center;
		font-size: 15px;
		line-height: 20px;
		color: #222;
		margin: 0;	 
		padding: 0 0 5px;
		font-family: 'Open Sans', sans-serif;
}
.price-package .content .box .inner .img img{
	width: 100%;

}
.price-package .content .box .inner .text .btn{
	padding: 8px 30px;
	background-color: #c11325;
	color:#fff;
	text-decoration: none;
	margin-top: 15px;
	display: inline-block;
	border:1px solid transparent;
	transition: all .5s ease;
	cursor: pointer;
	-webkit-transition: all .5s ease;
}

.price .content .box .inner .text .btn:hover{
	border-color: #222;
	color: #222;
	background-color: transparent;
}

.price .content .box .imner .img img{
	width: 100%;
}
/*Contact section*/
.contact{
		padding: 80px 15px;
	background-color: #222;
	min-height: 100vh;   
	float: left;
	width: 100%;
	padding:0px; 	 
	top: -80px;

}
.contact .content{
	-webkit-display:flex;
	display: flex;
}
.contact .content .box{
	flex: 0 0 50%;
	padding: 15px;
	-webkit-flex: 50%;
}

 
.contact .content .form input:focus,
.contact .content .form textarea:focus{
	outline: none;
	border-color: #c11325;

}

.contact .content .form input,
.contact .content .form textarea
{
	height: 45px;
	width: 100%;
	padding: 6px 12px;
	margin-bottom: 25px;
	background-color: transparent;
	border: 1px solid #fff;
	font-family: 'Open Sans', sans-serif;
}

.contact .content .form input::placeholder,
.contact .content .form textarea::placeholder{
	color: #fff;
}
.contact .content .form textarea{
	height:  100px;
}
.contact .content .form button{
	border: none;
	outline: none;
	box-shadow: none;
	height: 45px;
	padding: 0 50px;
	border: 1px solid transparent;
	cursor: pointer;
	background-color: #c11325;
	color: #fff;
	font-size: 15px;
	transition: all .5s ease;
}
.contact .content .form button:hover{
	background-color: transparent;
	color: #fff;
	border-color: #fff;
}
.contact .content .text h2{
	font-size: 30px;
	font-weight: 500;
	color: #c11325;
	padding:  0 0 20px;

}
.contact .content .text p{
	font-size: 15px;
	line-height: 20px;
	color: #fff;
	margin: 0; 
	padding: 0 0 30px;
	font-family: 'Open-sans', sans-serif;
}
.contact .content .text .info ul
{
	list-style: none;

	padding: 0;
	margin: 0;
}
.contact .content .text .info li{
	display: block;
	margin-bottom: 15px;
	color: #fff;
	font-size: 15px;
	letter-spacing: 2px;
	position: relative;
	padding-left: 40px;
	font-family: 'Open-sans';

}
.contact .content .text .info li span{
	display: inline-block;
	position: absolute;
	left: 0;
	top: 5px;
	font-size: 15px;
	color: #c11325;
}
.contact .content .text .social{
	padding-top: 30px;
}
.contact .content .text .social a{
	height: 40px;
	width: 40px;
	line-height: 40px;
	text-align: center;
	background-color: #c11325;
	text-decoration: none;
	display: inline-block;
	margin-right: 10px;
	transition: all .5s ease;
	border:1px solid transparent;
}
.contact .content .text .social a:hover{
	background-color: transparent;
	border-color: #fff;
}

.contact .content .text .social a span{
	color: #ffffff;
	font-size: 20px;}
.contact .content .text .copy{
	color: #c5c5c5;
	border-top: 1px solid #333;
	margin-top: 30px;
	padding-top: 20px;
	font-size: 15px;

}

/*Responsive*/
@media(max-width: 991px){
	.home{
		background-position:  center;
	}
	.clsses .content{
		flex-wrap: wrap;
	}
	.classes .content .box{
		flex: 0 0 100%;
		max-width: 100%;
	}
	.classes .content .img{
		display: none;
	}




}
@media(max-width: 767px){
	.home h1{
		font-size: 40px;

	}

	.about .content{
		flex-wrap: wrap;

	}
	.about .content .box{
		flex: 0 0 100%;
		max-width:100%;
 	}
 	.service .content{
 		flex-wrap: wrap;
 	}
 	.service .content .box{
 		flex: 0 0 100%;
 		max-width: 100%;
 	}
 	.classes .content .class-items .item {
 		flex-wrap: wrap;
 	}
.classes .content .class-items .item .item-text,
 .classes .content .class-items .item .item-img{
flex: 0 0 100%;
max-width: 100%;
}
.schedule .content{
	flex-wrap: wrap;
}
 

.schedule .content .box{
	flex: 0 0 100%;
	max-width: 100%;

}
.start-today .content{
	flex-wrap: wrap;
}
.start-today .content .box{
	flex: 0 0 100%;
	max-width: 100%;
}
.gallery .content  {
	flex-wrap: wrap;
}
.gallery .content .box{
	flex: 0 0 100%;
	max-width: 100%;
}
.price-package .content {flex-wrap: wrap;
}
.price-package .content .box{
	flex: 0 0 100%;
	max-width: 100%;
}
.contact .content{
	flex-wrap: wrap;
}
.contact .content .box{
	flex: 0 0 100%;
	max-width: 100%

}
}

@media(max-width: 550px){
	.home h1{
		font-size: 30px;

	}
}